* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
}
div {
    background-color: #888888;
    padding: 1%;
}
div.content {
    background-color: #888888;
}
.content {
    margin: auto;
    width: 80%;
    height: 100%;
}
div.header {
    margin: 1%;
    padding: 1%;
    
}
.header {
    overflow: auto;
}
.gig-body {
    flex: 1;
}
div.main-content {
    display: flex;
}
div.main-content div {
    margin: 5%;
}

div.right-sidebar-content {
    display: block;
}