* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
}
div {
    background-color: #888888;
    height: 100%;
}
.content {
    margin: auto;
    width: 80%;
    grid-template-columns: 33% 33% 33%;
    height: 100%;
    
}
.header div {
    margin: 5%;
    padding: 5%;
}
.header {
    overflow: auto;
}
.body {
    display: flex; 
}
.main-content div {
    float: left;
    margin: 5%;
    flex: 1;
}

div .right-sidebar-content  {
    display: block;
}