* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
}
div {
    background-color: #888888;
}
.content {
    overflow: auto;
    width: 100%;
}
.header div {
    margin: 5%;
    padding: 5%;
}
.header {
    overflow: auto;
}
.main-content div {
    width: 33%;
    float: left;
    margin: 5%;
}

#right_sidebar {
    float: right;
}