    <footer>
        <div id="footer"><p>Melbourne Gig Guide was created on the lands of the Wurundjeri people of the Kulin Nation. We acknowledge the elders of the land, past, present and emerging, and their contribution to music and art more broadly. This land is stolen and sovereignty was never ceded. </p></div>
    </footer>
</html>