<!DOCTYPE html>
<html>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <header>
        <link rel="stylesheet" href="../../main.css">
        <link rel="stylesheet" href="../../gigs/gig.css">
        <div class="header">
            <h1><a href="../../">Gig city</a></h1>
        </div>
    </header>