<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="../../main.js"></script>
<header>
    <link rel="stylesheet" href="../../main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <div class="header">
        <div class="header-element"><a href="../../"><h3><b>Melbourne Gig Guide</b></h3></a></div>
        <div class="header-element"><a href="../../artists/"><p>Artists</p></a></div>
        <div class="header-element"><a href="../../events/"><p>Events</p></a></div>
        <div class="header-element"><a href="../../venues"><p>Venues</p></a></div>
        <div style="flex-grow: 10;"></div>
        <div class="header-element"><a href="../../contribute"><p>Contribute</p></a></div>
        <div class="header-element"><a href="../../about"><p>About</p></a></div>
        <div class="header-element"><p>Search</p></div>
    </div>
</header>