div.content {
    background-color: #888888;
    display:flex;
}
.content {
    margin: auto;
    width: 80%;
    height: 100%;
}

div.main-content {
    flex: 1;
}
div.main-content div {
    margin: 5%;
}

div.right-sidebar-content {
    display: block;
}